
.gamePage {
    display: none;
}

.gameResultsDiv {
    position: fixed;
    background-color: rgb(205, 205, 205);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    display: none;
}

.playerResultDiv {
    display: flex;
    background-color: gray;
    margin-top: 10px;
    padding: 5px;
}
.playerResultDiv:first-child {
    margin-top: 20px;
}

.playerResultNumber {
    width: 28px;
    font-size: 20px;
    justify-self: start;
    text-align: right;
}
.playerResultUsername {
    flex: 70%;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 1px;
    overflow-x: hidden;
}
.playerResultScore {
    font-size: 20px;
    width: 50px;
    text-align: right;
    margin-right: 5px;
}
.yellowBg {
    background-color: rgb(177, 177, 0);
}

.resultsBtn {
    margin-top: 30px;
}