
#homePage {
    margin-top: 20px;
}

#gamesList {
    width: 95%;
    padding-bottom: 25px;
    user-select: none;
}

.game {
    display: inline-block;
    width: 40%;
    height: fit-content;
    background-color: rgb(200, 200, 200);
    border: rgb(70, 70, 70) 5px solid;
    border-radius: 20px;
    margin: 2%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.gameTitle {
    height: 20px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gameIcon {
    max-width: 90%;
    margin-top: 0px;
    -webkit-user-drag: none;
}

.usersOnline {
    width: 95%;
    max-width: 500px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    min-height: 400px;
    pointer-events: none;
    user-select: none;
    touch-action: none;
}

.userOnline {
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    height: 50px;
    padding: 0px;
    padding-bottom: 11px;
}

.userOnlineUsername {
    display: block;
    font-size: 20px;
    margin: 0px;
    margin-top: 3px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    user-select: none;
}

.userStatus {
    display: block;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-left: 15px;
    font-size: 11px;
    height: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
}

.inlineBlock {
    display: inline-block;
    width: calc(100% - 60px);
}