

.lobbyDiv {
    margin-top: 30px;
    height: 50px;
    width: 95%;
    text-align: center;
    height: fit-content;
    user-select: none;
    max-width: 500px;
    margin-bottom: 50px;
}

#invitePrompt {
    margin-left: 10px;
    margin-bottom: 20px;;
}

.promptBoxes {
    height: fit-content;
    position: fixed;
    top: 10px;
    right: 10px;
}

.inviteBox {
    background-color: rgb(200, 200, 200);
    border: black 4px solid;
    border-radius: 10px;
    width: 250px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 2px;
    display: none;
}

.redText {
    color: red;
}

.margin-y-3px {
    margin-top: 3px;
    margin-bottom: 3px;
}

.inviteBtnsBox {
    display: block;
    width: 100%;
    text-align: center;
}

.inviteResponseBtn {
    display: inline-block;
    margin: 2px 4px;
    box-sizing: border-box;
    width: 110px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.inviteResponseBtn:hover {
    background-color: rgb(50, 50, 50);
}

.lobbyPlayersContainer {
}

.lobbyPlayer {
    display: inline-block;
    /* background-color: white; */
    width: 35%;
    min-height: 120px;
    height: fit-content;
    padding: 2%;
    margin: 2%;
}

.lobbyPlayerIcon {
    width: 80%;
    -webkit-user-drag: none;
}

.lobbyPlayerName {
    display: block;
    font-size: 15px;
    height: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 5px 0px 5px 0px;
}

.lobbyKickBtn {
    width: 90%;
    height: fit-content;
    padding: 5px;
    margin-top: 5px;
}

.lockedBtn {
    opacity: 0.4;
    cursor: pointer;
    pointer-events: none;
}

.leaveLobbyBtn {
    margin-bottom: 20px;
}

.invitePlayerDiv {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    background-color: rgb(200, 200, 200);
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
}

.invitePlayerUsername {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    margin-top: 4px;
    padding: 0px;
    text-align: left;
    overflow: hidden;
}

.invitePlayerStatus {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(100, 100, 100);
    margin: 0px;
    padding-left: 5px;
    text-align: left;
}

.inviteBtn {
    /* display: block; */
    height: 40px;
    background-color: rgb(20, 180, 20);
    float: right;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-drag: none;
}
.inviteBtn:hover {
    background-color: rgb(10, 150, 10);
}
.inviteBtn:active {
    background-color: rgb(50, 120, 50);
}

.invitedIcon {
    height: 40px;
    background-color: rgb(130, 130, 130);
    float: right;
    border-radius: 5px;
    -webkit-user-drag: none;
}

.invisible {
    display: none;
}